In [9]:

import pandas as pd
import duckdb 
import os
from google import genai
from google.genai import types
import google.generativeai as genai

In [1]:
import pandas as pd

In [2]:

chicago_crime = pd.read_csv("./data/chicago_crime_2023_2025.csv")
chicago_crime["updated_on"] = pd.to_datetime(chicago_crime["updated_on"])
chicago_crime["x_coordinate"] = chicago_crime["x_coordinate"].astype(float)
chicago_crime["y_coordinate"] = chicago_crime["y_coordinate"].astype(float)
chicago_crime["latitude"] = chicago_crime["latitude"].astype(float)
chicago_crime["longitude"] = chicago_crime["longitude"].astype(float)
chicago_crime["year"]= chicago_crime["year"].astype(int)

In [3]:
chicago_crime.head()

,id,case_number,datetime,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
0,13140855,JG341458,2023-01-01 00:00:00,082XX S JEFFERY BLVD,1754,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,APARTMENT,False,True,...,4,8.0,46.0,02,1190953.0,1850848.0,2023,2023-09-24 15:41:26,41.745739,-87.575883
1,13180096,JG387858,2023-01-01 00:00:00,075XX S WOLCOTT AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6,17.0,71.0,11,1164996.0,1854651.0,2023,2023-08-20 15:40:56,41.756762,-87.670887
2,13168471,JG374193,2023-01-01 00:00:00,013XX W HARRISON ST,0460,BATTERY,SIMPLE,SCHOOL - PUBLIC GROUNDS,False,False,...,12,34.0,28.0,08B,1167465.0,1897475.0,2023,2023-08-19 15:40:26,41.874223,-87.660610
3,13078152,JG267031,2023-01-01 00:00:00,101XX S BEVERLY AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,22,21.0,73.0,11,1168800.0,1837525.0,2023,2023-08-19 15:40:26,41.709685,-87.657439
4,13120699,JG314178,2023-01-01 00:00:00,063XX N FAIRFIELD AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,OTHER (SPECIFY),False,False,...,24,50.0,2.0,17,1156847.0,1941985.0,2023,2023-08-19 15:40:26,41.996584,-87.698384

In [4]:

print(chicago_crime.dtypes)

id                               int64
case_number                     object
datetime                        object
block                           object
iucr                            object
primary_type                    object
description                     object
location_description            object
arrest                            bool
domestic                          bool
beat                             int64
district                         int64
ward                           float64
community_area                 float64
fbi_code                        object
x_coordinate                   float64
y_coordinate                   float64
year                             int64
updated_on              datetime64[ns]
latitude                       float64
longitude                      float64
dtype: object

In [ ]:
from google import genai

client = genai.Client(api_key=apikey)

In [16]:
prompt1 = """
        I am working with a dataset that contains information about Chicago crime incidents. 
        I want to create a SQL query to pull the total number of crimes that ended in arrest by a year
        """

In [17]:
response1 = client.models.generate_content(
    model="gemini-2.0-flash",
    contents= prompt1,
    config=types.GenerateContentConfig(
        max_output_tokens=500,
        temperature=0
    )
)

In [20]:
print(response1.candidates[0].content.parts[0].text)

```sql
SELECT
    STRFTIME('%Y', Date) AS CrimeYear,  -- Extract the year from the 'Date' column
    COUNT(*) AS TotalArrests  -- Count the number of crimes for each year
FROM
    ChicagoCrimes  -- Replace 'ChicagoCrimes' with the actual name of your table
WHERE
    Arrest = TRUE  -- Filter for crimes where an arrest was made
GROUP BY
    CrimeYear  -- Group the results by year
ORDER BY
    CrimeYear;  -- Order the results by year (optional, for readability)
```

**Explanation:**

1. **`SELECT STRFTIME('%Y', Date) AS CrimeYear`**:
   - `STRFTIME('%Y', Date)`: This is the key part for extracting the year.  `STRFTIME` is a SQLite function (and similar functions exist in other SQL dialects like MySQL, PostgreSQL, etc.) that formats a date/time value.  `'%Y'` specifies that we want to extract the year in a four-digit format (e.g., 2023).  `Date` is assumed to be the name of the column in your table that stores the date and time of the crime incident.  **Important:**  Make sure the `Date` column is actually stored as a date/time data type in your database. If it's stored as text, you might need to use a different function to convert it to a date/time value first (e.g., `DATE(Date)` or `DATETIME(Date)`).
   - `AS CrimeYear`: This assigns an alias "CrimeYear" to the extracted year, making it easier to refer to in the rest of the query.

2. **`COUNT(*) AS TotalArrests`**:
   - `COUNT(*)`: This counts all rows that match the `WHERE` clause within each group (defined by the `GROUP BY` clause).  In this case, it counts the number of crimes that resulted in an arrest for each year.
   - `AS TotalArrests`: This assigns the alias "TotalArrests" to the count.

3. **`FROM ChicagoCrimes`**:
   - `ChicagoCrimes`:  This specifies the name of the table you're querying.  **Replace `ChicagoCrimes` with the actual name of your table.**

In [21]:
prompt2 = """I am working with a dataset that contains information about Chicago crime incidents. 
        The table name is 'chicago_crime'. I want to create a SQL query to pull the total number of crimes that ended in arrest by a year. 
        The columns are: id, case_number, date, block, primary_type, description, location_description, arrest, domestic, beat, district, ward, community_area, fbi_code, x_coordinate, y_coordinate, year, updated_on. Please provide the SQL query.
        """

In [22]:

response2 = client.models.generate_content(
    model="gemini-2.0-flash",
    contents= prompt2,
    config=types.GenerateContentConfig(
        max_output_tokens=500,
        temperature=0
    )
)

In [23]:
print(response2.candidates[0].content.parts[0].text)

```sql
SELECT
    year,
    COUNT(*) AS total_arrests
FROM
    chicago_crime
WHERE
    arrest = TRUE  -- Assuming 'arrest' is a boolean column (TRUE/FALSE)
    -- If 'arrest' is a string column ('TRUE'/'FALSE' or 'Yes'/'No'), adjust the WHERE clause accordingly.
    -- For example: WHERE arrest = 'TRUE' or WHERE arrest = 'Yes'
GROUP BY
    year
ORDER BY
    year;
```

**Explanation:**

1. **`SELECT year, COUNT(*) AS total_arrests`**:  This selects the `year` and the count of all rows for each year, aliasing the count as `total_arrests`.
2. **`FROM chicago_crime`**:  This specifies the table to retrieve data from.
3. **`WHERE arrest = TRUE`**: This filters the data to include only rows where the `arrest` column indicates an arrest was made.  **Important:**  This assumes your `arrest` column is a boolean (TRUE/FALSE).  If it's a string (e.g., 'TRUE', 'FALSE', 'Yes', 'No'), you'll need to adjust this condition accordingly (see the comment in the code).
4. **`GROUP BY year`**: This groups the results by year, so `COUNT(*)` counts the arrests for each year separately.
5. **`ORDER BY year`**: This sorts the results by year in ascending order, making the output easier to read.

**Important Considerations based on the `arrest` column data type:**

*   **Boolean (TRUE/FALSE):** The query as written is correct.
*   **String ('TRUE'/'FALSE' or 'Yes'/'No'):**  You'll need to modify the `WHERE` clause:

    ```sql
    WHERE arrest = 'TRUE'  -- If the column contains 'TRUE' and 'FALSE'
    ```

    or

    ```sql
    WHERE arrest = 'Yes'   -- If the column contains 'Yes' and 'No'
    ```

*   **Integer (1/0):**  You'll need to modify the `WHERE` clause:

    ```sql
    WHERE arrest = 1  -- If the column contains 1 for arrest and

In [24]:
sql = """
SELECT
    year,
    COUNT(*) AS total_arrests
FROM
    chicago_crime
WHERE
    arrest = TRUE  -- Assuming 'arrest' is a boolean column (TRUE/FALSE)
    -- If 'arrest' is a string column ('TRUE'/'FALSE' or 'Yes'/'No'), adjust the WHERE clause accordingly.
    -- For example: WHERE arrest = 'TRUE' or WHERE arrest = 'Yes'
GROUP BY
    year
ORDER BY
    year;
    """

In [25]:

duckdb.sql(sql).show()

┌───────┬───────────────┐
│ year  │ total_arrests │
│ int64 │     int64     │
├───────┼───────────────┤
│  2023 │         31998 │
│  2024 │         35393 │
│  2025 │         12609 │
└───────┴───────────────┘

In [26]:
prompt_template = """I am working with a dataset that contains information about Chicago crime incidents. 
                    The table name is 'chicago_crime'. I want to create a SQL query that answers the following question: "{}". 
                    The columns are: id, case_number, date, block, primary_type, description, location_description, arrest, domestic, beat, district, ward, community_area, fbi_code, x_coordinate, y_coordinate, year, updated_on. Please provide the SQL query.
                """

In [27]:

user_question = "How many cases ended up with arrest during 2024?"
prompt3 = prompt_template.format(user_question)

In [28]:
response3 = client.models.generate_content(
    model="gemini-2.0-flash",
    contents= prompt3,
    config=types.GenerateContentConfig(
        max_output_tokens=500,
        temperature=0
    )
)

In [29]:
print(response3.candidates[0].content.parts[0].text)

```sql
SELECT COUNT(*) AS arrest_count
FROM chicago_crime
WHERE year = 2024
  AND arrest = TRUE;
```

**Explanation:**

*   **`SELECT COUNT(*) AS arrest_count`**: This counts all rows that meet the specified criteria and names the resulting count `arrest_count`.
*   **`FROM chicago_crime`**: This specifies that we are querying the `chicago_crime` table.
*   **`WHERE year = 2024`**: This filters the data to include only incidents that occurred in the year 2024.
*   **`AND arrest = TRUE`**: This further filters the data to include only incidents where an arrest was made.  The `arrest` column is assumed to be a boolean (TRUE/FALSE) indicating whether an arrest occurred.  If the `arrest` column is stored as a different data type (e.g., 'Y'/'N', 1/0), you'll need to adjust this condition accordingly (e.g., `AND arrest = 'Y'` or `AND arrest = 1`).

In [30]:
sql = """
SELECT COUNT(*) AS arrest_count
FROM chicago_crime
WHERE year = 2024
  AND arrest = TRUE;
"""

In [31]:
duckdb.sql(sql).show()

┌──────────────┐
│ arrest_count │
│    int64     │
├──────────────┤
│        35393 │
└──────────────┘

In [32]:
system_template = """
Given the following SQL table, your job is to write queries given a user’s request. \n
CREATE TABLE {} ({}) \n
"""

In [33]:
user_template = "Write a SQL query that returns - {}"

In [34]:
table_name = "chicago_crime" 
tbl_description = duckdb.sql("DESCRIBE SELECT * FROM " + table_name +  ";")
tbl_description

┌──────────────────────┬──────────────┬─────────┬─────────┬─────────┬─────────┐
│     column_name      │ column_type  │  null   │   key   │ default │  extra  │
│       varchar        │   varchar    │ varchar │ varchar │ varchar │ varchar │
├──────────────────────┼──────────────┼─────────┼─────────┼─────────┼─────────┤
│ id                   │ BIGINT       │ YES     │ NULL    │ NULL    │ NULL    │
│ case_number          │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ datetime             │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ block                │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ iucr                 │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ primary_type         │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ description          │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ location_description │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ arrest               │ BOOLEAN      │ YES     │ NULL    │ NULL    │ NULL    │
│ domestic             │ BOOLEAN      │ YES     │ NULL    │ NULL    │ NULL    │
│ beat                 │ BIGINT       │ YES     │ NULL    │ NULL    │ NULL    │
│ district             │ BIGINT       │ YES     │ NULL    │ NULL    │ NULL    │
│ ward                 │ DOUBLE       │ YES     │ NULL    │ NULL    │ NULL    │
│ community_area       │ DOUBLE       │ YES     │ NULL    │ NULL    │ NULL    │
│ fbi_code             │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ x_coordinate         │ DOUBLE       │ YES     │ NULL    │ NULL    │ NULL    │
│ y_coordinate         │ DOUBLE       │ YES     │ NULL    │ NULL    │ NULL    │
│ year                 │ BIGINT       │ YES     │ NULL    │ NULL    │ NULL    │
│ updated_on           │ TIMESTAMP_NS │ YES     │ NULL    │ NULL    │ NULL    │
│ latitude             │ DOUBLE       │ YES     │ NULL    │ NULL    │ NULL    │
│ longitude            │ DOUBLE       │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────┴──────────────┴─────────┴─────────┴─────────┴─────────┤
│ 21 rows                                                           6 columns │
└─────────────────────────────────────────────────────────────────────────────┘

In [35]:
col_attr = tbl_description.df()[["column_name", "column_type"]]
col_attr["column_joint"] = col_attr["column_name"] + " " +  col_attr["column_type"]
col_names = str(list(col_attr["column_joint"].values)).replace('[', '').replace(']', '').replace('\'', '')
col_names

'id BIGINT, case_number VARCHAR, datetime VARCHAR, block VARCHAR, iucr VARCHAR, primary_type VARCHAR, description VARCHAR, location_description VARCHAR, arrest BOOLEAN, domestic BOOLEAN, beat BIGINT, district BIGINT, ward DOUBLE, community_area DOUBLE, fbi_code VARCHAR, x_coordinate DOUBLE, y_coordinate DOUBLE, year BIGINT, updated_on TIMESTAMP_NS, latitude DOUBLE, longitude DOUBLE'

In [36]:

system = system_template.format(table_name, col_names)
print(system)

Given the following SQL table, your job is to write queries given a user’s request.

CREATE TABLE chicago_crime (id BIGINT, case_number VARCHAR, datetime VARCHAR, block VARCHAR, iucr VARCHAR, primary_type VARCHAR, description VARCHAR, location_description VARCHAR, arrest BOOLEAN, domestic BOOLEAN, beat BIGINT, district BIGINT, ward DOUBLE, community_area DOUBLE, fbi_code VARCHAR, x_coordinate DOUBLE, y_coordinate DOUBLE, year BIGINT, updated_on TIMESTAMP_NS, latitude DOUBLE, longitude DOUBLE)

In [37]:
question = "How many cases ended up with arrest during 2024?"
user = user_template.format(question)
print(user)

Write a SQL query that returns - How many cases ended up with arrest during 2024?

In [38]:
prompt4 = [system, user]

In [39]:

response4 = client.models.generate_content(
    model="gemini-2.0-flash",
    contents= prompt4,
    config=types.GenerateContentConfig(
        max_output_tokens=500,
        temperature=0
    )
)

In [40]:

print(response4.candidates[0].content.parts[0].text)

```sql
SELECT
  COUNT(CASE WHEN arrest = TRUE THEN 1 ELSE NULL END)
FROM chicago_crime
WHERE
  year = 2024;
```

In [41]:

import re

def is_markdown_code_chunk(text):
    """
    Checks if the given text is in Markdown code chunk format.

    Args:
        text (str): The text to check.

    Returns:
        bool: True if the text is in Markdown code chunk format, False otherwise.
    """
    pattern = r"```[^`]*```"
    return bool(re.search(pattern, text, re.DOTALL))

def extract_code_from_markdown(markdown_text):
    """
    Extracts code from a Markdown code chunk.

    Args:
        markdown_text (str): The Markdown text containing the code chunk.

    Returns:
        str: The extracted code.
    """
    pattern = r"```(.*?)\n(?P<code>.*?)\n```"
    match = re.search(pattern, markdown_text, re.DOTALL)
    if match:
        return match.group("code")
    else:
        return None

In [42]:
sql_chunk  = response4.candidates[0].content.parts[0].text

if is_markdown_code_chunk(text= sql_chunk):
    sql = extract_code_from_markdown(markdown_text= sql_chunk)
else:
    sql = sql_chunk

print(sql_chunk)
print(sql)

```sql
SELECT
  COUNT(CASE WHEN arrest = TRUE THEN 1 ELSE NULL END)
FROM chicago_crime
WHERE
  year = 2024;
```
SELECT
  COUNT(CASE WHEN arrest = TRUE THEN 1 ELSE NULL END)
FROM chicago_crime
WHERE
  year = 2024;

In [43]:

duckdb.sql(sql).show()

┌────────────────────────────────────────────────────────────────────────────┐
│ count(CASE  WHEN ((arrest = CAST('t' AS BOOLEAN))) THEN (1) ELSE NULL END) │
│                                   int64                                    │
├────────────────────────────────────────────────────────────────────────────┤
│                                                                      35393 │
└────────────────────────────────────────────────────────────────────────────┘

In [45]:

def create_message(table_name, query):

    class message:
        def __init__(message, system, user, column_names, column_attr):
            message.system = system
            message.user = user
            message.column_names = column_names
            message.column_attr = column_attr

    
    system_template = """

    Given the following SQL table, your job is to write queries given a user’s request. Return just the SQL query as plan text, without additional text and don't use markdown format. \n

    CREATE TABLE {} ({}) \n
    """

    user_template = "Write a SQL query that returns - {}"
    
    tbl_describe = duckdb.sql("DESCRIBE SELECT * FROM " + table_name +  ";")
    col_attr = tbl_describe.df()[["column_name", "column_type"]]
    col_attr["column_joint"] = col_attr["column_name"] + " " +  col_attr["column_type"]
    col_names = str(list(col_attr["column_joint"].values)).replace('[', '').replace(']', '').replace('\'', '')

    system = system_template.format(table_name, col_names)
    user = user_template.format(query)

    m = message(system = system, user = user, column_names = col_attr["column_name"], column_attr = col_attr["column_type"])
    return m

functionalizw the process

In [46]:

query = "How many cases ended up with arrest?"
msg = create_message(table_name = "chicago_crime", query = query)

In [53]:
print(msg.system)

    Given the following SQL table, your job is to write queries given a user’s request. Return just the SQL query as plan text, without additional text and don't use markdown format.


    CREATE TABLE chicago_crime (id BIGINT, case_number VARCHAR, datetime VARCHAR, block VARCHAR, iucr VARCHAR, primary_type VARCHAR, description VARCHAR, location_description VARCHAR, arrest BOOLEAN, domestic BOOLEAN, beat BIGINT, district BIGINT, ward DOUBLE, community_area DOUBLE, fbi_code VARCHAR, x_coordinate DOUBLE, y_coordinate DOUBLE, year BIGINT, updated_on TIMESTAMP_NS, latitude DOUBLE, longitude DOUBLE)

In [48]:

prompt = [msg.system, msg.user]

In [49]:
response = client.models.generate_content(
    model="gemini-2.0-flash",
    contents= prompt,
    config=types.GenerateContentConfig(
        max_output_tokens=500,
        temperature=0,
        top_p = 1,
        top_k = 32
    )
)

In [51]:

code = response.candidates[0].content.parts[0].text
print(code)
code = extract_code_from_markdown(markdown_text=code)
print(code)

```sql
SELECT count(*) FROM chicago_crime WHERE arrest = TRUE
```
SELECT count(*) FROM chicago_crime WHERE arrest = TRUE

In [ ]:

def lang2sql_gemini( table_name, query, model ="gemini-2.0-flash", temperature = 0,max_output_token = 256):
    class lang2sql:
        def __init__(output, message, response, sql):
            output.message = message
            output.response = response
            output.sql = sql      

    client = genai.Client(api_key = api_key)

    m = create_message(table_name = table_name, query = query)

    prompt = [m.system, m.user]

    response = client.models.generate_content(
    model=model,
    contents= prompt,
    config=types.GenerateContentConfig(
        max_output_tokens=max_output_token,
        temperature=temperature
        )
    )

    sql = response.candidates[0].content.parts[0].text
    if is_markdown_code_chunk(text = sql):
        sql = extract_code_from_markdown(markdown_text=sql)

    output = lang2sql(message = m, response = response, sql = sql)
    return output

In [55]:
query = lang2sql_gemini( 
                        table_name = "chicago_crime", 
                        query = "How many cases ended up with arrest?")

In [56]:
print(query.sql)
duckdb.sql(query.sql).show()

SELECT count(*) FROM chicago_crime WHERE arrest = TRUE
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        80000 │
└──────────────┘

In [62]:
def lang2answer_gemini( table_name, query, model ="gemini-2.0-flash", temperature = 0,max_output_token = 256, verbose = False):
    query = lang2sql_gemini(
                        table_name = table_name,
                        query = query, 
                        model = model,
                        temperature = temperature,
                        max_output_token = max_output_token
                    )
    if verbose:
        print(query.sql)
    output = duckdb.sql(query.sql)
    return output

In [63]:
lang2answer_gemini( 
            table_name = "chicago_crime", 
            query = "How many cases ended up with arrest?",
            verbose = True)

SELECT count(*) FROM chicago_crime WHERE arrest = TRUE

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        80000 │
└──────────────┘

In [65]:
lang2answer_gemini( 
            table_name = "chicago_crime", 
            query = "Summarize the cases by primary type",
            verbose = True)

SELECT primary_type, COUNT(*) AS case_count FROM chicago_crime GROUP BY primary_type;

┌───────────────────────────────────┬────────────┐
│           primary_type            │ case_count │
│              varchar              │   int64    │
├───────────────────────────────────┼────────────┤
│ OTHER OFFENSE                     │      38440 │
│ CRIMINAL DAMAGE                   │      66226 │
│ DECEPTIVE PRACTICE                │      37780 │
│ ASSAULT                           │      52628 │
│ SEX OFFENSE                       │       2999 │
│ BURGLARY                          │      18328 │
│ NARCOTICS                         │      14297 │
│ CONCEALED CARRY LICENSE VIOLATION │        510 │
│ INTIMIDATION                      │        438 │
│ LIQUOR LAW VIOLATION              │        453 │
│   ·                               │         ·  │
│   ·                               │         ·  │
│   ·                               │         ·  │
│ ARSON                             │       1123 │
│ KIDNAPPING                        │        269 │
│ GAMBLING                          │         39 │
│ HUMAN TRAFFICKING                 │         37 │
│ OTHER NARCOTIC VIOLATION          │         10 │
│ WEAPONS VIOLATION                 │      18250 │
│ ROBBERY                           │      21972 │
│ MOTOR VEHICLE THEFT               │      55948 │
│ INTERFERENCE WITH PUBLIC OFFICER  │       1588 │
│ OBSCENITY                         │        116 │
├───────────────────────────────────┴────────────┤
│ 31 rows (20 shown)                   2 columns │
└────────────────────────────────────────────────┘

In [66]:

lang2answer_gemini( 
            table_name = "chicago_crime", 
            query = "Summarize the cases by primary type, sort by number of crimes in descending order",
            verbose = True)

SELECT primary_type, count(*) AS num_crimes FROM chicago_crime GROUP BY primary_type ORDER BY num_crimes DESC

┌───────────────────────────────────┬────────────┐
│           primary_type            │ num_crimes │
│              varchar              │   int64    │
├───────────────────────────────────┼────────────┤
│ THEFT                             │     134864 │
│ BATTERY                           │     103032 │
│ CRIMINAL DAMAGE                   │      66226 │
│ MOTOR VEHICLE THEFT               │      55948 │
│ ASSAULT                           │      52628 │
│ OTHER OFFENSE                     │      38440 │
│ DECEPTIVE PRACTICE                │      37780 │
│ ROBBERY                           │      21972 │
│ BURGLARY                          │      18328 │
│ WEAPONS VIOLATION                 │      18250 │
│         ·                         │         ·  │
│         ·                         │         ·  │
│         ·                         │         ·  │
│ CONCEALED CARRY LICENSE VIOLATION │        510 │
│ LIQUOR LAW VIOLATION              │        453 │
│ INTIMIDATION                      │        438 │
│ KIDNAPPING                        │        269 │
│ OBSCENITY                         │        116 │
│ GAMBLING                          │         39 │
│ HUMAN TRAFFICKING                 │         37 │
│ PUBLIC INDECENCY                  │         21 │
│ OTHER NARCOTIC VIOLATION          │         10 │
│ NON-CRIMINAL                      │          8 │
├───────────────────────────────────┴────────────┤
│ 31 rows (20 shown)                   2 columns │
└────────────────────────────────────────────────┘

In [67]:
lang2answer_gemini( 
            table_name = "chicago_crime", 
            query = "Show me cases that are type of robbery", 
            verbose=True)

SELECT * FROM chicago_crime WHERE primary_type = 'ROBBERY'

┌──────────┬─────────────┬─────────────────────┬────────────────────────┬─────────┬──────────────┬────────────────────────────────────┬──────────────────────┬─────────┬──────────┬───────┬──────────┬────────┬────────────────┬──────────┬──────────────┬──────────────┬───────┬─────────────────────┬──────────────┬───────────────┐
│    id    │ case_number │      datetime       │         block          │  iucr   │ primary_type │            description             │ location_description │ arrest  │ domestic │ beat  │ district │  ward  │ community_area │ fbi_code │ x_coordinate │ y_coordinate │ year  │     updated_on      │   latitude   │   longitude   │
│  int64   │   varchar   │       varchar       │        varchar         │ varchar │   varchar    │              varchar               │       varchar        │ boolean │ boolean  │ int64 │  int64   │ double │     double     │ varchar  │    double    │    double    │ int64 │    timestamp_ns     │    double    │    double     │
├──────────┼─────────────┼─────────────────────┼────────────────────────┼─────────┼──────────────┼────────────────────────────────────┼──────────────────────┼─────────┼──────────┼───────┼──────────┼────────┼────────────────┼──────────┼──────────────┼──────────────┼───────┼─────────────────────┼──────────────┼───────────────┤
│ 12938372 │ JG100045    │ 2023-01-01 00:30:00 │ 006XX N CLARK ST       │ 0320    │ ROBBERY      │ STRONG ARM - NO WEAPON             │ STREET               │ false   │ false    │  1832 │       18 │   42.0 │            8.0 │ 03       │    1175432.0 │    1904246.0 │  2023 │ 2023-08-19 15:40:26 │ 41.892628411 │  -87.63115524 │
│ 12939981 │ JG101731    │ 2023-01-01 01:00:00 │ 116XX S MICHIGAN AVE   │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ GAS STATION          │ false   │ false    │   532 │        5 │    9.0 │           53.0 │ 03       │    1178927.0 │    1827640.0 │  2023 │ 2023-08-19 15:40:26 │ 41.682334926 │ -87.620651734 │
│ 12943227 │ JG104671    │ 2023-01-01 01:00:00 │ 005XX S PULASKI RD     │ 0320    │ ROBBERY      │ STRONG ARM - NO WEAPON             │ CTA TRAIN            │ false   │ false    │  1132 │       11 │   24.0 │           26.0 │ 03       │    1149812.0 │    1897228.0 │  2023 │ 2023-08-19 15:40:26 │ 41.873907046 │ -87.725430093 │
│ 12938763 │ JG100594    │ 2023-01-01 01:00:00 │ 002XX E CHICAGO AVE    │ 0320    │ ROBBERY      │ STRONG ARM - NO WEAPON             │ SIDEWALK             │ false   │ false    │  1833 │       18 │    2.0 │            8.0 │ 03       │    1177897.0 │    1905774.0 │  2023 │ 2023-08-19 15:40:26 │ 41.896765602 │ -87.622055873 │
│ 12940477 │ JG101093    │ 2023-01-01 01:00:00 │ 024XX W 46TH ST        │ 0312    │ ROBBERY      │ ARMED - KNIFE / CUTTING INSTRUMENT │ STREET               │ false   │ false    │   922 │        9 │   15.0 │           58.0 │ 03       │    1160758.0 │    1874106.0 │  2023 │ 2023-08-19 15:40:26 │ 41.810238009 │ -87.685881415 │
│ 12939693 │ JG101232    │ 2023-01-01 01:30:00 │ 002XX W ONTARIO ST     │ 0320    │ ROBBERY      │ STRONG ARM - NO WEAPON             │ BAR OR TAVERN        │ false   │ false    │  1831 │       18 │   42.0 │            8.0 │ 03       │    1174477.0 │    1904439.0 │  2023 │ 2023-08-19 15:40:26 │ 41.893179406 │ -87.634656764 │
│ 12938465 │ JG100173    │ 2023-01-01 01:53:00 │ 009XX W 69TH ST        │ 0325    │ ROBBERY      │ VEHICULAR HIJACKING                │ STREET               │ false   │ false    │   733 │        7 │   16.0 │           68.0 │ 03       │    1171414.0 │    1859087.0 │  2023 │ 2023-09-03 15:42:05 │ 41.768797245 │ -87.647236204 │
│ 12938672 │ JG100453    │ 2023-01-01 02:00:00 │ 0000X S LEAMINGTON AVE │ 0326    │ ROBBERY      │ AGGRAVATED VEHICULAR HIJACKING     │ STREET               │ false   │ false    │  1533 │       15 │   28.0 │           25.0 │ 03       │    1142140.0 │    1899444.0 │  2023 │ 2023-08-19 15:40:26 │  41.88013368 │ -87.753543416 │
│ 12939746 │ JG101047    │ 2023-01-01 03:30:00 │ 005XX N STATE ST       │ 0320    │ ROBBERY      │ STRONG ARM - NO WEAPON             │ CTA PLATFORM         │ false   │ false    │  1834 │       18 │   42.0 │            8.0 │ 03       │    1176278.0 │    1903807.0 │  2023 │ 2023-08-19 15:40:26 │ 41.891404732 │ -87.628061509 │
│ 12938906 │ JG100574    │ 2023-01-01 11:35:00 │ 099XX S HOXIE AVE      │ 0326    │ ROBBERY      │ AGGRAVATED VEHICULAR HIJACKING     │ STREET               │ false   │ false    │   431 │        4 │    7.0 │           51.0 │ 03       │    1195113.0 │    1839643.0 │  2023 │ 2023-08-19 15:40:26 │ 41.714889705 │ -87.561008339 │
│     ·    │    ·        │          ·          │         ·              │  ·      │    ·         │               ·                    │   ·                  │   ·     │   ·      │    ·  │        · │     ·  │             ·  │ ·        │        ·     │        ·     │    ·  │          ·          │       ·      │       ·       │
│     ·    │    ·        │          ·          │         ·              │  ·      │    ·         │               ·                    │   ·                  │   ·     │   ·      │    ·  │        · │     ·  │             ·  │ ·        │        ·     │        ·     │    ·  │          ·          │       ·      │       ·       │
│     ·    │    ·        │          ·          │         ·              │  ·      │    ·         │               ·                    │   ·                  │   ·     │   ·      │    ·  │        · │     ·  │             ·  │ ·        │        ·     │        ·     │    ·  │          ·          │       ·      │       ·       │
│ 13292658 │ JG522129    │ 2023-11-28 16:33:00 │ 016XX S ST LOUIS AVE   │ 0313    │ ROBBERY      │ ARMED - OTHER DANGEROUS WEAPON     │ STREET               │ false   │ false    │  1021 │       10 │   24.0 │           29.0 │ 03       │    1153308.0 │    1891503.0 │  2023 │ 2023-12-06 15:40:46 │ 41.858128349 │ -87.712746304 │
│ 13291247 │ JG520923    │ 2023-11-28 16:40:00 │ 034XX N NEENAH AVE     │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ STREET               │ false   │ false    │  1632 │       16 │   38.0 │           17.0 │ 03       │    1132105.0 │    1922159.0 │  2023 │ 2023-12-06 15:40:46 │ 41.942646648 │ -87.789862922 │
│ 13291249 │ JG521029    │ 2023-11-28 17:38:00 │ 040XX W VAN BUREN ST   │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ APARTMENT            │ false   │ false    │  1132 │       11 │   28.0 │           26.0 │ 03       │    1149518.0 │    1897717.0 │  2023 │ 2023-12-06 15:40:46 │ 41.875254627 │ -87.726496837 │
│ 13291475 │ JG521076    │ 2023-11-28 17:47:00 │ 041XX W 79TH ST        │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ APARTMENT            │ false   │ false    │   834 │        8 │   18.0 │           70.0 │ 03       │    1150135.0 │    1851850.0 │  2023 │ 2023-12-06 15:40:46 │ 41.749377016 │ -87.725422732 │
│ 13291308 │ JG521087    │ 2023-11-28 18:20:00 │ 049XX W 47TH ST        │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ ALLEY                │ false   │ false    │   814 │        8 │   22.0 │           56.0 │ 03       │    1144232.0 │    1873018.0 │  2023 │ 2023-12-06 15:40:46 │ 41.807578028 │ -87.746524733 │
│ 13291326 │ JG521162    │ 2023-11-28 18:30:00 │ 027XX W WELLINGTON AVE │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ STREET               │ false   │ false    │  1411 │       14 │   35.0 │           21.0 │ 03       │    1157440.0 │    1919821.0 │  2023 │ 2023-12-06 15:40:46 │ 41.935752485 │ -87.696808051 │
│ 13291537 │ JG521164    │ 2023-11-28 19:16:00 │ 006XX N TRUMBULL AVE   │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ VEHICLE - COMMERCIAL │ false   │ false    │  1121 │       11 │   27.0 │           23.0 │ 03       │    1153263.0 │    1904129.0 │  2023 │ 2023-12-06 15:40:46 │ 41.892776333 │ -87.712576298 │
│ 13291572 │ JG521228    │ 2023-11-28 20:40:00 │ 010XX W POLK ST        │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ STREET               │ false   │ false    │  1232 │       12 │   34.0 │           28.0 │ 03       │    1169842.0 │    1896634.0 │  2023 │ 2023-12-06 15:40:46 │ 41.871864246 │ -87.651906886 │
│ 13291573 │ JG521231    │ 2023-11-28 21:00:00 │ 015XX E 67TH ST        │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ DRUG STORE           │ false   │ false    │   332 │        3 │    5.0 │           43.0 │ 03       │    1187705.0 │    1860871.0 │  2023 │ 2023-12-06 15:40:46 │ 41.773320568 │ -87.587465382 │
│ 13291647 │ JG521273    │ 2023-11-28 21:20:00 │ 022XX S STATE ST       │ 031A    │ ROBBERY      │ ARMED - HANDGUN                    │ CTA TRAIN            │ false   │ false    │   131 │        1 │    3.0 │           33.0 │ 03       │    1176662.0 │    1889603.0 │  2023 │ 2023-12-06 15:40:46 │ 41.852419423 │ -87.627080475 │
├──────────┴─────────────┴─────────────────────┴────────────────────────┴─────────┴──────────────┴────────────────────────────────────┴──────────────────────┴─────────┴──────────┴───────┴──────────┴────────┴────────────────┴──────────┴──────────────┴──────────────┴───────┴─────────────────────┴──────────────┴───────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                           21 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [70]:
lang2answer_gemini( 
                        table_name = "chicago_crime", 
                        query = "How many cases is the type of ROBBERY?",
                        verbose = True)

SELECT count(*) FROM chicago_crime WHERE primary_type = 'ROBBERY'

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        21972 │
└──────────────┘